
<div class="row">
    <div class="col-5"></div>
    <div class="col-3 bg-secondary mt-5 shadow-lg p-3 mb-5 bg-body rounded ">
        <form action="" class=" ">
        <!-- <center> -->
            <img src="../../assets/logo.png" style="height:2cm; display: flex; align-items: center;" class="" alt="">
           
            <h1 class="text-secondary mt-3">My Bank</h1>
            <p>{{aim}}</p>   
            
            <input  [(ngModel)]="acno" type="text" name="acno" id="login_acno" [placeholder]="account" class="form-control mt-3 shadow-lg">
            <input [(ngModel)]="pswd" type="text" name="pswd" id="login_pswd" placeholder="Password" class="form-control mt-2 shadow-lg">
            <input type="button" value="login" (click)="login()" class="btn btn-primary  mt-3 "><br>
            <a href="#" class="text-decoration-none">forget Password</a> or <a routerLink="signup" class="text-decoration-none">Sign up</a>
        <!-- </center> -->
        </form>

    </div>
    <div class="col-4"></div>
</div>
